<header>
    <section class="header-icons-container">
        <div class="icons">
            <!--flaticon.com -->
            <a href="https://twitter.com/_DrSAK" target="_blank" rel="noopener noreferrer"><span><img src="/assets/images/icons-logos/twitter.png" alt=""></span></a>
            <a href="https://www.youtube.com/channel/UCqtVFoXLEvD0QbfdZDSdTSA" target="_blank" rel="noopener noreferrer"><span><img src="/assets/images/icons-logos/youtube.png" alt=""></span</a>
            <a href="https://www.linkedin.com/in/simonrancona/" target="_blank" rel="noopener noreferrer"><span><img src="/assets/images/icons-logos/linkedin.png" alt=""></span</span>
            <a href="https://github.com/DrSAK" target="_blank" rel="noopener noreferrer"><span><img src="/assets/images/icons-logos/github.png" alt=""></span</span></a>
        </div>
    </section>
    <nav>
        <section class="nav-logo-container">
            <a href="{{ site.baseurl }}">
                <img src="/assets/images/icons-logos/drSAK-logo.jpg" alt="Logo">
            </a>
        </section>
        <section class="profile-link">
            <a href="/about">Sobre mí</a>
        </section>
    </nav>
</header>