---
layout: default
---

<main>
    <section class="profile-main-container">
        <div class="profile-container">
            <div>
                <img src="{{site.baseurl}}/assets/images/icons-logos/sera.jpeg" alt="">
            </div>
            <div>
                <h2>
                    Mi nombre es Simón.
                </h2>
                <p>
                    Este es el primer curso que pienso documentar, me gusta ir al cine, ver películas, series, leer sobre programación y sobre otros temas por gusto. Actualmente trabajo desde casa y estoy considerando iniciar con la creación de contenido.
                </p>
                <br>
                <p>Espero que esta información sea de utilidad para quien la encuentre y los comentarios siempre serán bienvenidos. </p>
            </div>
        </div>
    </section>
    <section class="profile-main-projects">
        <div class="projects-container">
            <h3>
                Si quieres más información !Visita mi portafolio!
            </h3>
            <a href="https://drsak.github.io" target="_blank" rel="noopener noreferrer">IR A PORTAFOLIO</a>
        </div>
    </section>
</main>